In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
file = r'train_NIR5Yl1.csv'

df=pd.read_csv(file)

In [3]:
df.head()

       ID Tag  Reputation  Answers  Username    Views  Upvotes
0   52664   a      3942.0      2.0    155623   7855.0     42.0
1  327662   a     26046.0     12.0     21781  55801.0   1175.0
2  468453   c      1358.0      4.0     56177   8067.0     60.0
3   96996   a       264.0      3.0    168793  27064.0      9.0
4  131465   c      4271.0      4.0    112223  13986.0     83.0

In [4]:
df.shape

(330045, 7)

In [5]:
df.isnull().sum()

ID            0
Tag           0
Reputation    0
Answers       0
Username      0
Views         0
Upvotes       0
dtype: int64

In [6]:
df['Tag'].value_counts()

c    72458
j    72232
p    43407
i    32400
a    31695
s    23323
h    20564
o    14546
r    12442
x     6978
Name: Tag, dtype: int64

In [7]:
df.drop(['ID','Username'],inplace=True,axis=1)

In [8]:
df.shape

(330045, 5)

In [9]:
from sklearn.preprocessing import Binarizer
bn=Binarizer(threshold=4)
pd_watched=bn.transform([df['Answers']])[0]
df['pd_watched']=pd_watched
print(type(df))
df.head()

<class 'pandas.core.frame.DataFrame'>

  Tag  Reputation  Answers    Views  Upvotes  pd_watched
0   a      3942.0      2.0   7855.0     42.0         0.0
1   a     26046.0     12.0  55801.0   1175.0         1.0
2   c      1358.0      4.0   8067.0     60.0         0.0
3   a       264.0      3.0  27064.0      9.0         0.0
4   c      4271.0      4.0  13986.0     83.0         0.0

In [10]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['Tag']=le.fit_transform(df['Tag'])
df.head()

   Tag  Reputation  Answers    Views  Upvotes  pd_watched
0    0      3942.0      2.0   7855.0     42.0         0.0
1    0     26046.0     12.0  55801.0   1175.0         1.0
2    1      1358.0      4.0   8067.0     60.0         0.0
3    0       264.0      3.0  27064.0      9.0         0.0
4    1      4271.0      4.0  13986.0     83.0         0.0

In [11]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
feature_names=[x for x in df.columns if x not in ['Upvotes']]
x_train,x_val,y_train,y_val=train_test_split(df[feature_names],df['Upvotes'],test_size=0.22,random_state=205)

In [12]:
sc_X=StandardScaler()
x_train=sc_X.fit_transform(x_train)
x_val=sc_X.transform(x_val)

In [13]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn import linear_model
poly_reg=PolynomialFeatures(degree=4,interaction_only=False,include_bias=True)
X_poly=poly_reg.fit_transform(x_train)
lin_reg_1=linear_model.LassoLars(alpha=0.021,max_iter=150)
lin_reg_1.fit(X_poly,y_train)

LassoLars(alpha=0.021, copy_X=True, eps=2.220446049250313e-16,
          fit_intercept=True, fit_path=True, max_iter=150, normalize=True,
          positive=False, precompute='auto', verbose=False)

In [14]:
X_poly.shape

(257435, 126)

In [15]:
x_train.shape

(257435, 5)

In [16]:
from sklearn.metrics import r2_score
pred=poly_reg.fit_transform(x_val)
pred_val=lin_reg_1.predict(pred)
print(r2_score(y_val,pred_val))

0.9088619728983123

In [35]:
 from sklearn.metrics import mean_squared_error
import math
print(math.sqrt(mean_squared_error(y_val,pred_val)))

963.2121438871566

In [17]:
pred.shape

(72610, 126)

In [18]:
pred

array([[ 1.        , -1.42034033, -0.26337914, ...,  0.01577118,
         0.0502287 ,  0.15997042],
       [ 1.        ,  0.98543461, -0.27921421, ...,  0.04615402,
         0.085926  ,  0.15997042],
       [ 1.        ,  0.18350963, -0.23917624, ...,  0.03419707,
         0.07396296,  0.15997042],
       ...,
       [ 1.        , -1.01937784, -0.00934257, ...,  0.04618393,
         0.08595384,  0.15997042],
       [ 1.        ,  1.78735959,  0.61415399, ...,  0.0494684 ,
         0.08895775,  0.15997042],
       [ 1.        , -0.21745286, -0.19992628, ...,  0.03408845,
         0.07384541,  0.15997042]])

In [19]:
test=pd.read_csv('test_8i3B3FC.csv')

In [20]:
test.shape

(141448, 6)

In [21]:
ID=test['ID']
test.drop(['ID','Username'],axis=1,inplace=True)
le_test=LabelEncoder()
test['Tag']=le_test.fit_transform(test['Tag'])
test.head()

   Tag  Reputation  Answers    Views
0    0      5645.0      3.0  33200.0
1    1     24511.0      6.0   2730.0
2    3       927.0      1.0  21167.0
3    3        21.0      6.0  18528.0
4    3      4475.0     10.0  57240.0

In [22]:
test.shape

(141448, 4)

In [23]:
from sklearn.preprocessing import Binarizer
bn=Binarizer(threshold=4)
pd_watched=bn.transform([test['Answers']])[0]
test['pd_watched']=pd_watched
print(type(df))
test.head()

<class 'pandas.core.frame.DataFrame'>

   Tag  Reputation  Answers    Views  pd_watched
0    0      5645.0      3.0  33200.0         0.0
1    1     24511.0      6.0   2730.0         1.0
2    3       927.0      1.0  21167.0         0.0
3    3        21.0      6.0  18528.0         1.0
4    3      4475.0     10.0  57240.0         1.0

In [24]:
test.shape

(141448, 5)

In [25]:
test=sc_X.fit_transform(test)
#pred_test=lin_reg_1.predict(test_scale)

In [26]:
test.shape

(141448, 5)

In [27]:
pred_test=poly_reg.fit_transform(test)

In [28]:
pred_test.shape

(141448, 126)

In [29]:
pred_imp=lin_reg_1.predict(pred_test)

In [30]:
pred_imp=abs(pred_imp)

In [34]:
sub=pd.DataFrame({"ID":ID,'Upvotes':pred_imp})
sub.to_csv('upvote.csv',index=False)

In [31]:
sample_sub=pd.read_csv("sample_submission_OR5kZa5.csv")

In [32]:
sample_sub.head()

   ID  Upvotes
0   7      500
1   9      500
2  12      500
3  13      500
4  16      500